<% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.time.to_formatted_s(:db) %></td>
        <td><% if order.shipped == true%>
          <p>Yes</p>
          <%else%>
          <p>To Process</p>
          <% end %>
        </td>
        <td><% if order.received %>
          <p><%= order.updated_at.time.to_formatted_s(:db) %></p>
          <% elsif (order.received == false)&&order.shipped == false %>
          <p></p>
          <% else %>
          <p>En Route</p>
          <% end %>
        </td>
        <td><%= order.user.name %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
<% end %>
