<% @orders.each do |order| %>
  <% if order.user_id == current_user.id %>
    <tr>
      <td><%= order.created_at.time.to_formatted_s(:db) %></td>
      <td>
        <p>
          <% if order.shipped %>
          Shipped
          <% else %>
          Processing
          <% end %>
        </p>
      </td>
      <td>
        <% if order.received == false %>
          <!-- Show button if shipped -->
          <% if order.shipped == true %>
            <%= link_to "Received", received_order_path(order), :method => :put,  remote: true %>
          <% end %>
        <% else %>
          <%= order.updated_at.time.to_formatted_s(:db) %>
        <% end %>
      </td>
      <td><%= link_to 'Show', order, class: "btn btn-default btn-sm"  %></td>
      <td colspan="3"></td>

    </tr>
  <% end %>
<% end %>
