<% @orders.each do |order| %>
<% order.line_items.each do |lineitem| %>

  <% if order.user_id == current_user.id || current_user.role.name == 'Seller' %>
    <% if order.sellers.include? current_user.id %>
      <tr>
        <td><%= order.created_at.time.to_formatted_s(:db) %></td>
        <td><%= order.user.name %></td>
        <td><% if order.shipped == true%>
              <p>Yes</p>
            <%else%>
              <p>To Process</p>
            <% end %>
        </td>
        <td><% if order.received %>
              <p><%= order.updated_at.time.to_formatted_s(:db) %></p>
            <% elsif (order.received == false)&&order.shipped == false %>
              <p></p>
            <% else %>
              <p>En Route</p>
            <% end %>
        </td>
        <td><%= link_to 'Show', order, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
<% end %>
