<p id="notice"><%= notice %></p>

<h1>Orders</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <% if current_user.role_id == 2 %>
            <th>Buyer</th>
          <% end %>
          <th>Shipped</th>
          <th>Received</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% if current_user.role_id ==  2 %>
          <%= render 'orders/seller_view' %>
        <% else (current_user.role_id == 1)%>
          <%= render 'orders/buyer_view' %>
        <% end %>
      </tbody>
    </table>

<br>

<%= link_to 'Back', root_path %>
