<div class="container">
  <div class="row">
      <h2>Your Cart</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>QTY</th>
        <th>Item</th>
        <th>Seller</th>
        <th>Price</th>
      </tr colspan="4">
    </thead>
    <%= render(@cart.line_items) %>

    <br>
    <tbody>
      <tr class="total_line">
        <td colspan="3">Total</td>
        <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
      </tr>
    </tbody>
  </table>

  <br>
    <%= button_to 'Check out', new_order_path, method: :get, class: "btn btn-default" %>
  <br>
    <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>
